src/main/mule/inds-connectivity-test-app.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
    <http:listener-config name="inds-connectivity-test-app-httpListenerConfig">
        <http:listener-connection host="${http.host}" port="${http.port}" protocol="HTTPS" readTimeout="${http.timeout}" tlsContext="TLS_Context"/>
    </http:listener-config>
    <apikit:config name="inds-connectivity-test-app-config" api="inds-connectivity-test-app.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <api-gateway:autodiscovery apiId="${api.id}" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="c5acf7c6-1ca4-4e16-86e5-f4e770f170f4" flowRef="inds-connectivity-test-app-main" />
    <configuration-properties doc:name="Configuration properties" doc:id="c46cc452-b3df-4d14-9532-35f34eda83dc" file="properties\sit.yaml" />
    <tls:context name="TLS_Context" doc:name="TLS Context" doc:id="6b1e6433-fa54-4524-956b-9962b97671bd" >
		<tls:trust-store insecure="true" />
		<tls:key-store type="jks" path="${tls.keystore.jksPath}" alias="${tls.keystore.jksAlias}" keyPassword="${secure::tls.keystore.jksKey}" password="${secure::tls.keystore.jksPassword}" />
	</tls:context>
	<http:request-config name="SAP-HTTPS-Token-Configuration" doc:name="HTTP Request configuration" doc:id="29c167b1-bef0-4031-aea8-965479a50c73" >
		<http:request-connection host="vhpmkmbdci.hec.privatecloudedition.com" port="44300" protocol="HTTPS">
			<tls:context >
				<tls:trust-store insecure="true" />
			</tls:context>
			<http:authentication >
				<http:basic-authentication username="E0B8458" password="Deloitte@2" />
			</http:authentication>
		</http:request-connection>
	</http:request-config>
	<http:request-config name="SAP-HTTPS-Configuration" doc:name="HTTP Request configuration" doc:id="d96b35dd-ad35-485c-93c4-351e273e1089" >
		<http:request-connection protocol="HTTPS" host="vhpmkmbdci.hec.privatecloudedition.com" port="8000">
			<tls:context >
				<tls:trust-store insecure="true" />
			</tls:context>
			<http:authentication >
				<http:basic-authentication username="E0B8458" password="Deloitte@2" />
			</http:authentication>
		</http:request-connection>
	</http:request-config>
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="7f42c7d3-67d0-4ea0-9d28-d9a35c933ac8" file="properties/${mule.env}.yaml" key="${secret.key}" />
	<flow name="inds-connectivity-test-app-main">
        <http:listener config-ref="inds-connectivity-test-app-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="inds-connectivity-test-app-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="inds-connectivity-test-app-console">
        <http:listener config-ref="inds-connectivity-test-app-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="inds-connectivity-test-app-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\mule-endpoint:inds-connectivity-test-app-config">
        <ee:transform doc:name="Transform Message" doc:id="452bed46-178f-4eb3-b7c8-085b0c7927d6">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"status": "File Received",
	"payload": payload,
	"attributes": attributes
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\sendToSAP:inds-connectivity-test-app-config">
        <flow-ref doc:name="send-ff-restapi-sap" doc:id="d1c00a2b-653f-40ed-b37c-5e25c5a3db46" name="send-ff-restapi-sap" />
        <ee:transform doc:name="Transform Message" doc:id="e09efaf0-4b68-41b6-aa04-0a839b94bae6">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	status: "File Received",
	payload: payload,
	attributes: attributes
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
